* {
    box-sizing: border-box;
}

body {
    /* background: fixed;
    background-image: url(/bio_site/images/background.jpg);
    background-position: center;
    background-size: cover; */
    /* background-color: #e2711d; */
    color: #2f4858;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    margin-bottom: 40px;
    color: #ffffff;
    background-color: #2f4858;
    display: flex;
    justify-content: space-between;
}

.header_img {
    width: 350px;
    height: 350px;
    border-radius: 0 0 40px 0;
}

.header_info {
    width: 100%;
    padding: 30px;
}

.name {
    font-size: 48px;
    font-weight: bold;
}

.profession {
    font-size: 22px;
}

.bio_text {
    padding: 20px 50px;
    font-size: 24px;
    text-align: center;
}

.services {
    margin: 0 70px;
    font-size: 20px;
}

.services_title {
    font-size: 40px;
    text-align: center;
}

.service {
    margin-bottom: 40px;
}

.duration_and_price {
    display: flex;
    justify-content: space-between;
}

.contacts_list {
    list-style-type: none;
    text-align: center;
}

.contacts_title {
    font-size: 40px;
    text-align: center;
}

.contacts_text {
    text-align: center;
    font-size: 14px;
}

.contacts_list_btn {
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    text-decoration: none;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 0 40px;
    color: #ffffff;
    background-color: #33658a;
}

.contacts_list_btn_tg {
    background-color: #0088CC;
}

.contacts_list_btn_wa {
    background-color: #25D366;
}

.contacts_docs {
    list-style-type: none;
}

footer {
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
    padding: 30px 0;
    border-radius: 30px;
    background-color: #33658a;
    color: #ffffff;
}