* {
    box-sizing: border-box;
}

body {
    /* background: fixed;
    background-image: url(/bio_site/images/background.jpg);
    background-position: center;
    background-size: cover; */
    /* background-color: #e2711d; */
    color: #2f4858;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    margin-bottom: 40px;
    color: #ffffff;
    background-color: #2f4858;
    display: flex;
    justify-content: space-between;
}

.header_img {
    width: 380px;
    height: 450px;
    border-radius: 0 0 40px 0;
    background-size: cover;
    background-image: url(images/profile_img_full_size.jpg);
}

.header_info {
    width: 100%;
    padding: 40px;
}

.name {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 10px;
}

.profession {
    font-size: 24px;
}

.bio_text {
    padding: 20px 50px;
    font-size: 28px;
    text-align: center;
}

.services {
    margin: 0 70px;
    font-size: 20px;
}

.services_title {
    font-size: 40px;
    text-align: center;
}

.service {
    margin-bottom: 40px;
}

.duration_and_price {
    display: flex;
    justify-content: space-between;
}

.contacts_list {
    list-style-type: none;
    text-align: center;
    padding: 0 40px;
}

.contacts_docs {
    padding: 0 40px;
}

.contacts_title {
    font-size: 40px;
    text-align: center;
}

.contacts_text {
    text-align: center;
    font-size: 14px;
}

.contacts_list_btn {
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    text-decoration: none;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 0 40px;
    color: #ffffff;
    background-color: #33658a;
}

.contacts_list_btn_tg {
    background-color: #0088CC;
}

.contacts_list_btn_wa {
    background-color: #25D366;
}

.contacts_docs {
    list-style-type: none;
}

footer {
    text-align: center;
    font-size: 16px;
    margin-top: 70px;
    padding: 30px 0;
    border-radius: 30px 30px 0 0;
    background-color: #33658a;
    color: #ffffff;
}

@media (max-width: 900px) {
    .services {
        margin: 0 30px;
    }

    .contacts_list_btn {
        width: auto;
        margin: auto;
        margin-bottom: 10px;
        padding: 0 35px;
    }

    .contacts_docs_btn {
        font-size: 18px;
    }

    .contacts_list {
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
    }

    .contacts_docs {
        padding: 0 20px;
    }

    .header_info {
        padding: 20px;
        text-align: center;
    }

    .header_img {
        width: 300px;
        height: 300px;
    }

    .name {
        font-size: 44px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    .profession {
        font-size: 18px;
    }
}

@media (max-width: 670px) {
    .services {
        margin: 0 15px;
        font-size: 17px;
    }

    .services ul{
        list-style-type: none;
        padding: 0 10px;
    }

    .service {
        margin-bottom: 30px;
    }

    .service_title {
        font-size: 21px;
    }

    .service p{
        margin: 10px 0;
    }

    .bio_text {
        padding: 10px;
        font-size: 22px;
    }

    .contacts_list_btn {
        display: flex;
        align-items: center;
        width: auto;
        height: 60px;
        text-decoration: none;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: bold;
        padding: 0 20px;
    }

    .contacts_docs_btn {
        font-size: 18px;
    }

    .contacts_list {
        display: block;
        padding: 0 10px;
    }

    .contacts_docs {
        padding: 0 10px;
    }
    
    header {
        display: block;
    }

    .header_info {
        padding: 20px;
        text-align: center;
    }

    .header_img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto;
        display: block;
    }

    .name {
        font-size: 44px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }

    .profession {
        font-size: 18px;
    }
}